# Ignore Git and configs
.git
.gitignore
cloudbuild.yaml

# Ignore local Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Ignore model files (since we download from GCS at runtime)
*.h5
*.pb

# Ignore local data
uploads/
.env
